<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="css/app.css">
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">   
    </head>
    <body>
        <style type="text/css">
            body {
            color: blanchedalmond;
            background-color: steelblue;
            font-family: 'Press Start 2P', cursive;
            }
            li:first-letter {
                text-transform: capitalize;
                line-height: 2em;
            } 
        </style>
        <h1>See all the Pokemon</h1>
        <ul>
            <% for(let i =0; i < pokemon.length; i++){ %>
                <li>
                    <a href="/pokemon/<%=i%>">
                    <%=pokemon[i].name%></a>
                </li>
            <% } %>
        </ul>

    </body>
</html>