<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">   
    </head>
    <body>
        <style type="text/css">
            body {
            color: blanchedalmond;
            background-color: steelblue;
             font-family: 'Press Start 2P', cursive;
        }
             
        </style>
    <h1>See All the Pokemon</h1>
        
        <nav>
            <a href="">Create a New Fruit</a>
        </nav>
    </body>
</html>