body {
    background-color: lightgrey;
    text-align: center;
    font-family: sans-serif;  
}

.cat {
    font-family: fantasy;
}

table, th, td {
    border: 1px solid gray;
    padding: 1em;
}

table {
    margin-left:auto; 
    margin-right:auto;
}

.cabbage {
    color: chartreuse;
}

h5 {
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
}