<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body> 
  <div class="shop-page"></div>
  <h1>Shopping!</h1>
  <% for (i=0; i < Product.length; i++) { %>
  <h2> <%= Product[i].name %></h2>
  <img src="<%=Product[i].img%>">
  <p><%=Product[i].description%></p>
  </div>
  <% } %>
    
  

        <nav>
            <a href="/products/new">Create a New Product</a>
        </nav>
    </body>
</html>