<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title></title>
</head>
<body>
    <div class ="container">
        <h1>Add New Item</h1>
        <form action="/budgets" method="POST">
            <input placeholder="name" type="text" name="name" /><br/>
            <input placeholder="date" type="text" name="date" /><br/>
            <input placeholder="amount" type="integer" name="amount" /><br/>
            <input placeholder="from" type="text" name="from" /><br/>
            <input placeholder="tag" type="text" name="tags" /><br/>
        <input type="submit" name="" value="New Item"/>
        </form>
    </div>
</body
</html>